.sh-1 {
  background-color: red;
  width: 50px;
  height: 120px;
}
.sh-2 {
  background-color: rgb(220, 169, 169);
  width: 80px;
  height: 60px;
}
.sh-3 {
  background-color: green;
  width: 50px;
  height: 50px;
  align-self: flex-end;
  justify-self: end;
}
.sh-4 {
  background-color: purple;
  width: 60px;
  height: 90px;
}
.sh-5 {
  background-color: khaki;
  width: 30px;
  height: 60px;
}
.sh-6 {
  background-color: rebeccapurple;
  width: 25px;
  height: 75px;
}
.sh-7 {
  background-color: yellowgreen;
  width: 55px;
  height: 80px;
  justify-self: end;
}

.shapes {
  display: grid;
  grid-template-columns: 150px 150px;
  width: 400px;
  height: 600px;
  background-color: antiquewhite;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
